* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* nav menu */
.nav-flex-container {
    display: flex;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
    /* DEBUG */
    /* height: 40px; */
    background-color: #ADD8E7;    
}

.nav-container {
    padding: 10px;
    display: flex;
    background-color: #DAA51C;
    justify-content: space-between;
    width: 1000px;
    border: 2px black dashed;
}

.nav-link {
    display: flex;
    gap: 10px;
    width: auto;
}

.logo {
    border: 3px black dashed;
    width: 33%;
}

.login {    
    border: 3px black dashed;
    width: 33%;
    align-self: flex-end;
    text-align: end;
}

ul li {
    list-style: none;

}


/* header */
.jumbo {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: #00018B;
    padding: 50px 0;
}

.jumbo-box {
    /* DEBUG */
    height: 500px;
    width: 80%;
    background-color: pink;
    border: 3px black dashed;
}



/* main */



/* Three main sections */
.center {
    width: 70%;
    margin: 0 auto;
}
.sec-flex {
    display: flex;
    /* margin-top: 50px; */
    justify-content: center;
    padding: 40px 150px;
}

.sec1-box1 {
    width: 60%;

    /* DEBUG */
    height: 400px;
    width: 700px;
    background-color: #1E90FF;
    border: 3px black dashed;
}

.sec1-box2 {
    width: 40%;
    /* DEBUG */
    height: 400px;
    background-color: #FFC0CA;
    border: 3px black dashed;
}

.sec-bg-color {
    background-color: lightgray;
}

.sec2-flex {
    display: flex;
    flex-direction: row-reverse;
    /* margin-top: 50px; */
    justify-content: center;
    padding: 40px 150px;
    background-color: lightgray;
}

.sec2-box1 {
    /* DEBUG */
    height: 400px;
    width: 60%;
    background-color: #1E90FF;
    border: 3px black dashed;
}

.sec2-box2 {
    /* DEBUG */
    height: 400px;
    width: 40%;
    background-color: #FFC0CA;
    border: 3px black dashed;
}

/* green box */
.green-container {
    display: flex;
    justify-content: center;
    background-color: lightgray;
    padding: 40px 150px;
}

.greenbox {
    width: 65%;
    height: 700px;
    background-color: #218B21;
    border: 3px black dashed;
}



/* footer */
.center2 {
    width: 90%;
    margin: 0 auto;
}
.f-bg-color {
    background-color:  #23272A;
}

.footer-container {
    display: flex;
    justify-content: center;
    padding: 100px 0 40px;
}

.red {
    width: 60%;
    height: 700px;
    background-color: #F08180;
    border: 3px black dashed;
}

.acqua {
    width: 30%;
    height: 700px;
    background-color: #20B3AA;
    border: 3px black dashed;
}



/* bottom info */
.f-bottom-con {
    display: flex;
    justify-content: center;
    border-top: 2px solid white;
    padding-top: 25px;
}

.footer-bg {
    width: 100%;
    background-color: #7FFFD4;
    padding: 30px 0;
}

#bottom-info-con {
    display: flex;
    justify-content: space-between;   
}

.logo2 {
    padding: 5px 10px;
    background-color: #FFB4C7;
    width: 15%;
    border: 3px black dashed;
}

.f-info-bt {
    padding: 5px 10px;
    background-color: #FFB4C7;
    width: 15%;
    border: 3px black dashed;
    text-align: end;
}